#instructions {
  padding-top: 50px;
}

#sayHi {
  margin-left: 100px;
  text-align: left;
  font-size: 22px;
  color: #357df2;
}

#booklink {
  font-size: 16px;
  color: #357df2;
}

h2 span {
  font-size: 24px;
  color: #8f9599;
}

p {
  font-size: 18px;
  text-align:justify;
}

.clear {
  clear: both;
}

header {
  border-top: 9px solid #222222;
}

.slogan {
  padding-top: 26px;
  font-size: 22px;
  color: #357df2;
}

#hilight {
  width:800px;
  margin: auto;
  border: 2px solid grey;
  text-align: center;
  height: 430px;
  margin-top: 40px;
  margin-bottom: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.links a{
  padding-top: 26px;
  font-size: 22px;
  color: #357df2;
}

.links {
  padding-top: 26px;
  color: #357df2;
}

hr {
  clear:both;
}

h6 {
  font-size: 18px;
}

.next-quote {
  font-family: 'nobilemedium_italic', sans-serif;
  font-size:18px;
}

.footer-blurb {
  padding-top: 20px;
  text-align: center;
  font-size: 16px;
  color: #357df2;
}

@media (max-width: 750px) {
  .footer-blurb {
    text-align: left;
  }
}

::selection {
  background-color: #f84342;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.tip {
  width: 0px;
  height: 0px;
  position: absolute;
  background: transparent;
  border: 10px solid #ccc;
}

.tip-up {
  top: -25px; /* Same as body margin top + border */
  left: 10px;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
}

.tip-down {
  bottom: -25px;
  left: 10px;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.tip-left {
  top: 10px;
  left: -25px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.tip-right {
  top: 10px;
  right: -25px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}

.dialogbox .body {
  position: relative;
  max-width: 760px;
  height: auto;
  margin: 20px 10px;
  padding: 5px;
  background-color: #DADADA;
  border-radius: 3px;
  border: 5px solid #ccc;
  margin-left: 120px;
}

.body .message {
  min-height: 30px;
  border-radius: 3px;
  font-family: Arial;
  font-size: 14px;
  line-height: 1.5;
  color: #797979;
}
