#booklink {
  font-size: 16px;
  color: #357df2;
}

h2 span {
  font-size: 24px;
  color: #8f9599;
}

p {
  font-size: 18px;
  text-align:justify;
}

.clear {
  clear: both;
}

header {
  border-top: 9px solid #222222;
}

.slogan {
  padding-top: 26px;
  font-size: 22px;
  color: #357df2;
}

#hilight {
  width:800px;
  margin: auto;
  border: 2px solid grey;
  text-align: center;
  height: 430px;
  margin-top: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.links a{
  padding-top: 26px;
  font-size: 22px;
  color: #357df2;
}

.links {
  padding-top: 26px;
  color: #357df2;
}

hr {
  clear:both;
}

h6 {
  font-size: 18px;
}

.next-quote {
  font-family: 'nobilemedium_italic', sans-serif;
  font-size:18px;
}

.footer-blurb {
  text-align: center;
  font-size: 16px;
  color: #357df2;
}

@media (max-width: 750px) {
  .footer-blurb {
    text-align: left;
  }
}

::selection {
  background-color: #f84342;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
