#buttontop {
  padding-top: 25px;
}

h2 span {
  font-size: 28px;
  color: #dddddd;
}

p {
  font-size: 19px;
}

.clear {
  clear: both;
}

header {
  border-top: 9px solid #222222;
}

.slogan {
  padding-top: 30px;
  font-family: 'geometria-light';
  // src: font_url('geometria-light-webfont.woff2') format('woff2'),
  //      font_url('geometria-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-size: 26px;
}

#hilight {
  padding: 60px;
  width:900px;
  margin: auto
}

.links a{
  padding-top: 26px;
  font-size: 20px;
  border-bottom: 1px solid #dfdfdf;
}

.links {
  padding-top: 30px;
}

hr {
  clear:both;
}

h6 {
  font-size: 18px;
}

.next-quote {
  font-family: 'nobilemedium_italic', sans-serif;
  font-size:18px;
}

.footer-blurb {
  text-align: center;
  font-size: 16px;
}

@media (max-width: 750px) {
  .footer-blurb {
    text-align: left;
  }
}

::selection {
  background-color: #f84342;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}





.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
